@font-face {
  font-family: 'Red Hat Text';
  src: url('../assets/fonts/RedHatText-Regular.ttf');
}

:root {
  --primary: aqua;
  --secondary: blue;
  --background: white;
  --title: rgb(22, 22, 22);
  --font: rgb(112, 111, 111);
}

#root, body {
  font-family: 'Red Hat Text', Arial, sans-serif;
  color: var(--font);
  width: 100vw;
  height: 100vh;
  font-size: 1em;
}

body::-webkit-scrollbar {
  width: 0.25rem
}

body::-webkit-scrollbar-track {
  background: var(--background)
}

body::-webkit-scrollbar-thumb {
  background: var(--secondary)
}

h1, h2, h3 {
  color: var(--title);
  font-weight: bold;
}

header {
  color: var(--title);
}

a {
  color: var(--secondary);
}

a:hover {
  color: var(--primary);
}